.news {
    float: left;
    width: 50%;
    height: 750px;
    padding-top: 30px;
    padding-right: 50px;

}

.info1,
.info2
    {
    padding-top: 30px;
    padding-right: 300px
}


.balance {
    float: left;
    width: 50%;
    height: 750px;
    padding-top: 30px;

}

#more1,
#more2 {
    display: none;
}
